.post {
  background-color: #FCFAF9;
  height: calc(100vh - 52px); }
  .post__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .post__item {
    position: relative;
    padding: 10px;
    width: 45%;
    height: 200px;
    background-color: #6A8D73;
    color: #FCFAF9;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer; }
    .post__item__id {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EAF4D3;
      color: #9bc932; }
    .post__item__title {
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 30px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
